.gallery {
    overflow: hidden;
    margin: 0 auto;
    
    
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
.gallery ul {
    list-style-type: none;
}

.slider {
    align-items: center;
}

.slider .slider-menu {
    box-sizing: border-box;
}
ul.slider {
   padding-top: 30px;
}

.slider img {
    width: 800px;

}
.gallery-center {
    display: flex;
    align-items: center;
}

ul.slider li {
    opacity: 0;
    transition:opacity .5s;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
 }

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.nav {
    width: 51.5vw;
    position: relative;
    margin: 0 auto;
    right: auto;
    bottom: auto;
    background: #f1f2f3;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav ul li {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.nav a {
    font-size: calc( 1.2rem + 1vw );
    text-decoration: none;
    font-weight: bold;
    color: #00324b;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    border-right: 1px solid #00324b;
    flex-wrap: wrap;
    position: relative;
}

.nav li:last-child a {
    border-right: 0;
}

.nav a:hover {
    background-color: var(--secondary-color);
    color: #fff;
    border-top-color: var(--primary-color);
}

.nav a:active {
    border-top-color: var(--secondary-color);
    background: var(--tertiary-color);
    color: #00324b;
}

@media(max-width: 400px)  {
 
    .slider img {
        width: 250px;
    }

    .nav {
        bottom: 0px;
        width: auto;
    }

    
    .nav ul {
        display: flex;
        justify-content:space-around;
        flex-wrap:calc(100%-10px);
    }
    
    .nav ul li {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

}

/*

@media(max-width: 640px)  {
    .slider img {
        width: 300px;
    }

    .nav {
        bottom: 240px;
    }
}

@media(max-width: 900px) {
    .slider img {
        width: 600px;
    }

    .nav {
        bottom: 150px;
        
    }

    .center {
        margin-bottom: 80px;
    }
} */

