:root {
    /* var color set */
    --primary-color: #512da8;
    --secondary-color: #757575;
    --tertiary-color: #607d88;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    height: 50px;
    color: white;
}

body {
    background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

.menu {
    padding: 15px;
    float: right;
}

.menu ul li {
    display: inline;
    padding-left: 5px;
    list-style-type: none;
}

.idle {
    color: var(--secondary-color);
}

.title-main {
    padding-top: 20px;
    text-align: center;
}

.card-in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 8px 4px var(--tertiary-color);
    border-radius: 5px;;
    width: 250px;
    background-color: white;
}

.img-card {
    width:250px;
}

.card h1 {
    padding-bottom: 10px;
    text-align: center;
}

.card p {
    padding: 10px;
}

.button-card {
    background-color: var(--tertiary-color);
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.para {
    margin: 20px;
}

.para-end {
    margin-bottom: 50px;
}

.preformat {
    margin: 40px;
}

.format-code {
    background-color: var(--tertiary-color);
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
}

.format-code hr {
    margin-bottom: 10px;
}

.code-h4 {
    margin-top: 10px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    z-index: 2;
    display: none;
}
section p {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 40px;
    font-size: 20px;

}

footer {
    position: fixed;
    margin-top: 30px;
    width: 100%;
    background-color: var(--primary-color);
    height: 30px;
    bottom: 0;
    color: white;
}

footer p {
    padding: 5px;
}

@media(max-width: 1024px)  {
    .card-in {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 25%; 
    }

    .format-code {
        background-color: var(--tertiary-color);
        width: 300px;
        margin: 20px;
        border-radius: 5px;
        padding: 10px;
    }

    .menu-btn {
        display: block;
        
    }

    .menu ul {
        background-color: var(--secondary-color);
        display: block;
        height: 100%;
        position: absolute;
        left:  0;
        top: 0;
        opacity: 0.9;
        transform: translateX(-100px);
        transition: transform 0.5s ease-in-out;
    }

    .menu ul li {
        display: block;
        padding: 20px;   
    }

    .menu-show {
        transform: translateX(0px) !important;
    }
   
}

@media(max-width: 400px)  {
    .card-in {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2%; 
    }

    .preformat {
      margin: 10px;
    }

    .format-code {
        background-color: var(--tertiary-color);
        width: 250px;
        margin: 0 auto;
        border-radius: 5px;
        padding: 15px;
    }

    .menu-btn {
        display: block;
        
    }

    .menu ul {
        padding-top: 30px;
        background-color: var(--primary-color);
        display: block;
        height: 100%;
        position: absolute;
        left:  0;
        top: 0;
        opacity: 0.9;
        transform: translateX(-115px);
        transition: transform 0.5s ease-in-out;
        z-index: 1;
    }

    .menu ul li {
        display: block;
        padding: 20px;   
    }

    .menu-show {
        transform: translateX(0px) !important;
    }

    
}